<footer>
  <section>
    <div class="logo" id="footerLogo">
      <div class="word1">
        <h1>chris</h1>
        <img src="/images/cross_logo.png" alt="" />
        <h1>ian</h1>
      </div>
      <div class="word2">
        <h1>Feed</h1>
      </div>
    </div>
  </section>
  <section>
    <div id="contacts">
      <p>Dev:</p>
      <img src="/images/twitter.png" id="icon1" alt="Twitter" />
      <p>@SugiraYvan</p>
      <img src="/images/instagram.png" id="icon2" alt="Instagram" />
      <p>sugirayvan</p>
      <img src="/images/linkedIn.png" id="icon3" alt="LinkedIn" />
      <p>Yvan Sugira</p>
      <img src="/images/gmail.png" id="icon4" alt="Gmail" />
      <p>phoenixnavyn7@gmail.com</p>
    </div>
    <p id="copy">
      &copy; &nbsp;Christian Feed | Copyright ISHIMWE SUGIRA Yvan 2022
    </p>
  </section>
</footer>
