<header>
  <div class="logo" id="headerLogo">
    <div class="word1">
      <h1>chris</h1>
      <img src="/images/cross_logo.png" alt="" />
      <h1>ian</h1>
    </div>
    <div class="word2">
      <h1>Feed</h1>
    </div>
  </div>
  <div id="burger" onClick="showMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="nav">
    <h1><a href="/">Home</a></h1>
    <h1><a href="/sermons">Sermons</a></h1>
    <h1><a href="/convos">Convos</a></h1>
  </div>
  <div class="nav" id="aside-nav">
    <h1><a href="/">Home</a></h1>
    <h1><a href="/sermons">Sermons</a></h1>
    <h1><a href="/convos">Convos</a></h1>
  </div>
</header>
<script src="/scripts/front.js"></script>
