<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <style>
    header {
      padding-top: -30px;
      margin-bottom: 20px;
      background-color: #0c4680;
      padding-bottom: 20px;
    }
    #footer {
      margin-top: 245px;
    }
  </style>
  <body>
    <%-include("./partials/header.ejs")%>
    <h1 class="err">An error has occured!</h1>
    <h2 class="err2">Task failed</h2>
    <div id="footer"><%-include("./partials/footer.ejs")%></div>
  </body>
</html>
