<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div id="bg">
      <div id="backsqr"></div>
      <div id="circle1" class="circle"></div>
      <div id="circle2" class="circle"></div>
      <div id="circle3" class="circle"></div>
      <div id="circle4" class="circle"></div>
      <div id="circle5" class="circle"></div>
    </div>
    <%- include("./partials/header.ejs")%>
    <main>
      <h1>FEED</h1>
      <div></div>
      <h1>FEED</h1>
      <p>your christian self</p>
    </main>
    <br /><br />
    <section id="scriptureH">
      <p>Today's Scripture ,</p>
      <span>&nbsp;&nbsp;6th April 2022</span>
    </section>
    <br />
    <section>
      <h1>Isaiah 43:19</h1>
      <p>
        19 See, I am doing a new thing! Now it springs up; do you not perceive
        it? I am making a way in the wilderness and streams in the wasteland.
      </p>
    </section>
    <form id="sub" action="/intensive/subscribe" method="POST">
      <input
        type="text"
        name="email"
        placeholder="Subscribe for a daily scripture-mail:"
      />
      <input class="submit" type="submit" value="Submit" />
    </form>
    <section id="posters">
      <div id="create">
        <img src="/images/writing.jpg" alt="" />
        <h1>&nbsp; &nbsp;CREATE <br />AND SHARE</h1>
        <p>
          Post/Write sermons and christian <br />&nbsp; &nbsp;articles and share
          them with <br />&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;fellow christians
        </p>
        <button>CREATE</button>
      </div>
      <div id="read">
        <img src="/images/scrolls.jpg" alt="" />
        <h1>READ</h1>
        <p>
          Read sermons and christian articles, <br />&nbsp; &nbsp;&nbsp;written
          by fellow christians
        </p>
        <button>READ</button>
      </div>
      <div id="converse">
        <img src="/images/conversing.jpg" alt="" />
        <h1>&nbsp; &nbsp;ENGAGE IN <br />CONVERSATION</h1>
        <p>
          Create conversations that fellow <br />christians can contribute
          on.You <br />can also contribute on discussions <br />&nbsp;
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;initiated by other users
        </p>
        <button>CONVERSE</button>
      </div>
    </section>
    <section>
      <div id="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/images/slider/img1.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img2.jfif" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img3.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img4.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img5.png" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img6.jfif" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img7.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img1.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img2.jfif" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img3.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img4.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img5.png" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img6.jfif" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img7.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img1.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img2.jfif" alt="" />
          </div>
          <div class="slide">
            <img src="/images/slider/img3.jpg" alt="" />
          </div>    
        </div>
    </section>
    <%-include("./partials/footer.ejs")%>
  </body>
</html>
