<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Christian Feed | <%= title %></title> -->
    <link
      href="http://fonts.cdnfonts.com/css/helvetidoodle-by-ed-t"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Signika+Negative:wght@300&family=Yrsa:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="bg">
      <div id="backsqr"></div>
      <div id="circle1" class="circle"></div>
      <div id="circle2" class="circle"></div>
      <div id="circle3" class="circle"></div>
      <div id="circle4" class="circle"></div>
      <div id="circle5" class="circle"></div>
    </div>
    <header>
      <div id="logo">
        <div id="word1">
          <h1>chris</h1>
          <img src="../cross_logo.png" alt="" />
          <h1>ian</h1>
        </div>
        <div id="word2">
          <h1>Feed</h1>
        </div>
      </div>
      <div id="nav">
        <h1>Home</h1>
        <h1>Sermon</h1>
        <h1>Convos</h1>
      </div>
    </header>
    <main>
      <h1>FEED</h1>
      <div></div>
      <h1>FEED</h1>
      <p>your christian self</p>
    </main>
    <br /><br />
    <section id="scriptureH">
      <p>Today's Scripture ,</p>
      <span>&nbsp;&nbsp;6th April 2022</span>
    </section>
    <br />
    <section>
      <h1>Isaiah 43:19</h1>
      <p>
        19 See, I am doing a new thing! Now it springs up; do you not perceive
        it? I am making a way in the wilderness and streams in the wasteland.
      </p>
    </section>
    <form action="/intensive/subscribe" method="POST">
      <input
        type="text"
        name="email"
        placeholder="Subscribe for a daily scripture mail:"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
