<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <style>
    header {
      padding-top: -30px;
      margin-bottom: 20px;
      background-color: #0c4680;
      padding-bottom: 15px;
    }
    .submit {
      width: 80px;
    }
    .nav h1:nth-child(1) {
      border: none;
    }
    .nav h1:nth-child(2) {
      border-bottom: solid crimson;
    }
    #aside-nav h1:nth-child(2) {
      border-bottom: solid #0c4680;
    }
    footer {
      margin-top: 200px;
      margin-bottom: -60px;
    }
    label {
      font-family: "Yrsa", sans-serif;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 100px;
    }
    form {
      margin-top: 100px;
    }
    form input {
      text-align: center;
      display: flex;
      border: solid 2px;
      width: 500px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    textarea {
      text-align: center;
      display: flex;
      border: solid 2px;
      width: 500px;
      overflow: scroll;
      flex-wrap: wrap;
      font-family: "Yrsa", sans-serif;
      font-weight: 600;
      font-size: 17px;
      height: 200px;
    }
    #form {
      display: grid;
      place-items: center;
      margin-left: 50px;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs")%>
    <div id="form">
      <form action="newSermon" method="POST">
        <label>Title of the sermon</label>
        <input type="text" name="title" />
        <label>Author of sermon</label>
        <input type="text" name="author" />
        <label>Author's email</label>
        <input type="text" name="email" />
        <label>Sermon snippet</label>
        <input type="text" name="snippet" />
        <label>Sermon Content</label>
        <textarea name="content"></textarea>
        <input class="submit" type="submit" value="CREATE" />
      </form>
    </div>
    <%-include("./partials/footer.ejs")%>
  </body>
</html>
`
