* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#bg {
  position: absolute;
  z-index: -1;
}
#backsqr {
  margin-top: -160px;
  height: 811px;
  width: 1536px;
  background-color: #0c4680;
  transform: skewY(-8deg);
  position: absolute;
  z-index: -1;
}
.circle {
  border-radius: 50%;
  background-color: #84a5c1;
  opacity: 20%;
  position: absolute;
  z-index: 0;
}
#circle1 {
  height: 380px;
  width: 380px;
  margin-top: -170px;
  margin-left: -120px;
}
#circle2 {
  margin-top: 100px;
  margin-left: 1400px;
  height: 300px;
  width: 300px;
}
#circle3 {
  height: 160px;
  width: 160px;
  margin-top: 400px;
  margin-left: -90px;
}
#circle4 {
  height: 70px;
  width: 70px;
  margin-top: 380px;
  margin-left: 1000px;
}
#circle5 {
  height: 100px;
  width: 100px;
  margin-top: 200px;
  margin-left: 600px;
}
#logo {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
}
#word1 {
  display: flex;
}
#word1 h1 {
  font-family: "Helvetidoodle by Ed T", sans-serif;
  font-weight: 500;
  color: #f0f8ff;
  font-size: 45px;
  margin-top: 15px;
}
#word1 img {
  margin-top: 5px;
  margin-right: 2px;
  height: 60px;
}
#word2 h1 {
  color: crimson;
  margin-top: 14.5px;
  font-size: 40px;
  margin-left: 2px;
  font-weight: 500;
  font-family: "Goudy Bookletter 1911", serif;
}
header,
#nav {
  display: flex;
}
#nav {
  margin-top: 50px;
  margin-left: 550px;
  width: 400px;
  justify-content: space-between;
}
#nav h1 {
  font-family: "Yrsa", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: aliceblue;
}
#nav h1:nth-child(1) {
  border-bottom: solid crimson;
}
main {
  margin-top: 120px;
}
main h1 {
  text-align: center;
  font-family: "Helvetidoodle by Ed T", sans-serif;
  color: #f0f8ff;
  font-size: 65px;
  margin-top: 15px;
}
main h1:nth-child(1) {
  padding-top: 12px;
  height: 73px;
  font-weight: 500;
  margin-top: -30px;
  margin-left: 688px;
  position: absolute;
  z-index: 1;
  background-color: #0c4680;
}
main p {
  color: #d4ebff;
  margin-top: -18px;
  margin-left: 653px;
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 32px;
}
#scriptureH {
  display: flex;
}
section p:nth-child(1) {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 30px;
}
section span {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 30px;
  color: #f0f8ff;
}
section h1 {
  color: crimson;
  font-family: "Yrsa", sans-serif;
  font-size: 35px;
}
section p:nth-child(2) {
  color: #d4ebff;
  font-family: "Yrsa", sans-serif;
  font-size: 23px;
  width: 800px;
  padding-left: 25px;
  border-left: solid crimson;
}
section {
  margin-left: 100px;
}
form {
  float: right;
  margin-top: 160px;
  margin-right: 230px;
}
form input:nth-child(1) {
  width: 300px;
  color: crimson;
  border: solid crimson;
}
form input:nth-child(2) {
  background-color: crimson;
  color: #f0f8ff;
  width: 70px;
  margin-left: -4px;
}
form input {
  height: 45px;
  text-align: center;
  font-family: "Yrsa", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border: none;
}
