* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#bg {
  position: absolute;
  z-index: -1;
}
#backsqr {
  margin-top: -160px;
  height: 811px;
  width: 1536px;
  background-color: #0c4680;
  transform: skewY(-8deg);
  position: absolute;
  z-index: -1;
}
.copyClick img {
  height: 40px;
  margin-top: 20px;
  margin-left: 100px;
}
#textCopy {
  display: none;
  opacity: 0%;
  margin-top: -40px;
  margin-left: 150px;
  position: absolute;
  font-size: 30px;
  width: auto;
  font-family: "Yrsa", sans-serif;
  color: #84a5c1;
}
.circle {
  border-radius: 50%;
  background-color: #84a5c1;
  opacity: 20%;
  position: absolute;
  z-index: 0;
}
#circle1 {
  height: 380px;
  width: 380px;
  margin-top: -170px;
  margin-left: -120px;
}
#circle2 {
  margin-top: 100px;
  margin-left: 1400px;
  height: 300px;
  width: 300px;
}
#circle3 {
  height: 160px;
  width: 160px;
  margin-top: 400px;
  margin-left: -90px;
}
#circle4 {
  height: 70px;
  width: 70px;
  margin-top: 380px;
  margin-left: 1000px;
}
#circle5 {
  height: 100px;
  width: 100px;
  margin-top: 260px;
  margin-left: 600px;
}
.logo {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
}
.word1 {
  display: flex;
}
.word1 h1 {
  font-family: "Helvetidoodle by Ed T", sans-serif;
  font-weight: 500;
  color: #f0f8ff;
  font-size: 45px;
  margin-top: 15px;
}
.word1 img {
  margin-top: 5px;
  margin-right: 2px;
  height: 60px;
}
.word2 h1 {
  color: crimson;
  margin-top: 14.5px;
  font-size: 40px;
  margin-left: 2px;
  font-weight: 500;
  font-family: "Goudy Bookletter 1911", serif;
}
header,
.nav {
  display: flex;
}
.nav {
  margin-top: 50px;
  margin-left: 550px;
  width: 400px;
  justify-content: space-between;
}
.nav h1 {
  font-family: "Yrsa", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: aliceblue;
}
.nav h1:nth-child(1) {
  border-bottom: solid crimson;
}
main {
  margin-top: 120px;
}
main h1 {
  font-family: "Helvetidoodle by Ed T", sans-serif;
  color: #f0f8ff;
  font-size: 65px;
  margin-left: 675px;
  position: absolute;
}
main h1:nth-child(3) {
  height: 73px;
  margin-top: 15px;
  z-index: 0;
}
main h1:nth-child(1) {
  padding-top: 12px;
  padding-left: 2px;
  margin-left: 673px;
  font-weight: 500;
  margin-top: -20px;
  height: 75px;
  width: 170px;
  z-index: 1;
  background-color: #0c4680;
}
main p {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: #d4ebff;
  margin-left: 655px;
  margin-top: 65px;
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 32px;
}
#scriptureH {
  margin-top: 100px;
  display: flex;
}
#sub {
  display: flex;
  margin-top: 100px;
  margin-left: 900px;
  position: absolute;
}
#content {
  margin-top: 100px;
}
section p:nth-child(1) {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 30px;
}
section span {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 30px;
  color: #f0f8ff;
}
section h1 {
  color: crimson;
  font-family: "Yrsa", sans-serif;
  font-size: 35px;
}
section p:nth-child(2) {
  color: #d4ebff;
  font-family: "Yrsa", sans-serif;
  font-size: 23px;
  width: 800px;
  padding-left: 25px;
  border-left: solid crimson;
}
section {
  margin-left: 100px;
}
form {
  float: right;
  margin-top: 160px;
  margin-right: 200px;
}
form input:nth-child(1) {
  width: 330px;
  color: crimson;
  border: solid crimson;
}
.submit {
  background-color: crimson;
  color: #f0f8ff;
  width: 70px;
  margin-left: -4px;
}
form input {
  height: 45px;
  text-align: center;
  font-family: "Yrsa", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border: none;
  padding: 0px 10px 0px 10px;
}
.topText {
  transform: rotate(-30deg);
}
#posters {
  display: flex;
  margin-top: 400px;
  margin-left: 0px;
  margin-bottom: 100px;
  justify-content: space-evenly;
}
#create,
#converse {
  height: 500px;
  background: crimson;
  width: 400px;
}
#read {
  height: 500px;
  background: #09325b;
  width: 400px;
}
footer {
  margin-top: 100px;
  height: 230px;
  background-color: rgb(119, 13, 34);
  padding-top: 20px;
}
#footerLogo {
  margin-left: 520px;
  margin-bottom: 30px;
}
#contacts {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-left: -100px;
}
#copy {
  margin-left: 370px;
  border: none;
  color: #84a5c1;
  margin-bottom: 10px;
}

#contacts p {
  color: #d4ebff;
  font-family: "Yrsa", sans-serif;
  font-size: 23px;
  width: 800px;
  padding-left: 15px;
  margin-bottom: 30px;
  border-left: solid crimson;
}
#icon1 {
  margin-top: -10px;
  margin-left: -60px;
  height: 50px;
  width: 50px;
}
#icon2 {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
#icon3 {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}
#icon4 {
  margin-top: -10px;
  height: 50px;
  width: 50px;
}
#read img,
#create img,
#converse img {
  position: absolute;
  z-index: 0;
  width: inherit;
  height: inherit;
  opacity: 20%;
  /* object-fit: cover; */
}
#read h1,
#create h1,
#converse h1 {
  position: absolute;
  z-index: 1;
  color: #0c4680;
  opacity: 100%;
  font-family: "Helvetidoodle by Ed T", sans-serif;
  margin-left: 50px;
  margin-top: 100px;
  font-size: 40px;
}
#create h1 {
  margin-left: 90px;
}
#read h1 {
  color: crimson;
  margin-top: 120px;
  margin-left: 150px;
}
#read p,
#create p,
#converse p {
  margin-top: 230px;
  margin-left: 30px;
  position: absolute;
  z-index: 1;
  font-family: "Yrsa";
  font-size: 25px;
  color: #d4ebff;
  font-weight: bold;
}
#read button,
#create button,
#converse button {
  height: 45px;
  width: 100px;
  position: absolute;
  z-index: 1;
  margin-top: 380px;
  margin-left: 150px;
  border: none;
  font-family: "Yrsa", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
#create button,
#converse button {
  background-color: #0c4680;
  color: #d4ebff;
}
#read button {
  color: #d4ebff;
  background-color: crimson;
}
a {
  text-decoration: none;
  color: #f0f8ff;
}
#contacts p:nth-child(1) {
  border: none;
}
#aside-nav {
  position: absolute;
  z-index: 2;
  height: 807px;
  width: 150px;
  background: crimson;
  display: none;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-top: -20px;
  transform: skewY(-8deg);
  box-shadow: #09325bd8 20px 10px 50px;
}
#aside-nav h1 {
  transform: skewY(8deg);
}

.slide {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
#slider {
  height: 250px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
}
.slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 60s linear infinite;
}
.slide img {
  width: 100%;
}
#convos {
  margin-top: 80px;
}
.slide img::before,
.slide img::after {
  background: linear-gradient(to right, whitesmoke 0%, black);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
#sermons {
  margin-top: 100px;
}
.slide img::before {
  left: 0;
  top: 0;
}
.slide img::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slide img:hover {
  transform: transform 1s;
}
textarea::-webkit-scrollbar {
  display: none;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes copied {
  0% {
    display: block;
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes openMenu1 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(20deg);
  }
}
@keyframes openMenu2 {
}
@keyframes openMenu3 {
}
@keyframes openMenu1 {
}
@keyframes openMenu2 {
}
@keyframes openMenu3 {
}
#burger {
  margin-top: 50px;
  margin-left: 400px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.err,
.err2 {
  text-align: center;
}
.err {
  margin-top: 100px;
  font-size: 50px;
  color: crimson;
  font-family: "Yrsa", sans-serif;
}
.err2 {
  font-size: 28px;
  color: black;
  font-family: "Yrsa", sans-serif;
}
#burger div {
  height: 5px;
  width: 35px;
  background: crimson;
}
#newsBtn {
  height: 45px;
  text-align: center;
  font-family: "Yrsa", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border: none;
  background-color: crimson;
  color: #f0f8ff;
  width: 140px;
  margin-left: 100px;
}
textarea {
  padding: 10px 10px 10px 10px;
  resize: none;
  text-align: center;
  font-family: "Yrsa", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
@media screen and (max-width: 1351px) {
  .nav {
    margin-left: 400px;
  }
  main h1:nth-child(1) {
    margin-left: 550px;
    width: 300px;
  }
  main h1 {
    margin-left: 550px;
  }
  main p {
    margin-left: 520px;
  }
  #sub {
    margin-right: 700px;
    margin-left: 800px;
  }
  footer section:nth-child(1) {
    margin-left: 10px;
  }
  footer section:nth-child(2) {
    width: 1100px;
  }
  #copy {
    margin-left: 250px;
  }
  #read p {
    margin-left: 4px;
  }
}
@media screen and (max-width: 1211px) {
  #sub {
    margin-top: 100px;
    margin-left: 650px;
  }
  #posters {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  #read,
  #create,
  #converse {
    margin-bottom: 60px;
  }
  .nav {
    margin-left: 270px;
  }
  footer section:nth-child(2) {
    width: 900px;
    margin-left: 170px;
  }
  #icon1 {
    margin-top: -10px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
  }
  #icon2 {
    margin-left: 0px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  #icon3 {
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 10px;
    height: 37px;
    width: 37px;
  }
  #icon4 {
    margin-left: 0px;
    margin-top: -17px;
    height: 80px;
    width: 80px;
  }
  #footerLogo {
    margin-left: 500px;
  }
  .diss {
    display: none;
  }
  #copy {
    margin-left: 180px;
  }
}
@media screen and (max-width: 1100px) {
  #contacts {
    margin-left: -200px;
  }
  #copy {
    margin-left: 100px;
  }
  #footerLogo {
    margin-left: 400px;
  }
  .nav {
    margin-left: 200px;
  }
  .nav h1 {
    font-size: 23px;
  }
  #sub {
    margin-top: 200px;
    margin-left: 600px;
  }
  main {
    margin-left: -100px;
  }
  #circle2 {
    margin-left: 800px;
  }
  main h1:nth-child(1) {
    width: 165px;
  }
}

@media screen and (max-width: 1005px) {
  #sub {
    margin-left: 450px;
  }
  .nav {
    margin-left: 100px;
  }
  #contacts {
    margin-left: -300px;
  }
  #content {
    margin-left: -30px;
  }
  #copy {
    margin-left: 70px;
  }
  main {
    margin-left: -160px;
  }
  #footerLogo {
    margin-left: 340px;
  }
  #logo {
    margin-left: 50px;
  }
  #headerLogo {
    margin-left: 60px;
  }
  #scriptureH {
    margin-left: 60px;
  }
  #scripture {
    margin-left: 60px;
  }
  .copyClick img {
    margin-left: 60px;
  }
  #textCopy {
    margin-left: 100px;
  }
  #convos,
  #sermons,
  #newsBtn {
    margin-left: 60px;
  }
  .searchField {
    margin-left: 60px;
  }
}
@media screen and (max-width: 920px) {
  #contacts {
    margin-left: -300px;
    margin-right: 100px;
  }
  #footerLogo {
    margin-left: 300px;
  }
  #copy {
    margin-left: -30px;
  }
}
@media screen and (max-width: 900px) {
  #burger {
    display: flex;
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  #scriptureH {
    margin-top: 10px;
  }
  #circle2 {
    margin-left: 750px;
  }
  main h1:nth-child(3) {
    display: none;
  }
  main h1:nth-child(1) {
    background: none;
  }
  main p {
    margin-top: 50px;
  }
  main {
    margin-left: -200px;
  }
  #scriptureH p,
  #scriptureH span,
  #scripture h1 {
    font-size: 28px;
  }
  #scripture p {
    font-size: 20px;
    width: auto;
  }
  #backsqr {
    height: 850px;
  }
  #burger {
    margin-right: 40px;
    margin-left: auto;
  }
  #sub {
    position: relative;
    margin-left: auto;
    margin-right: 40px;
  }
  main h1,
  main p {
    position: relative;
    margin: 0;
  }
  main h1:nth-child(1) {
    position: relative;
    text-align: center;
    margin: auto;
  }
  main {
    margin: auto;
    margin-top: 100px;
  }
  #contacts {
    position: relative;
    margin: auto;
    margin-left: 120px;
    width: 300px;
  }
}
@media screen and (max-width: 800px) {
  #contacts {
    margin-left: 10px;
  }
  #footerLogo {
    margin-left: 180px;
  }
  #copy {
    margin: auto;
    margin-left: -100px;
  }
}
@media screen and (max-width: 769px) {
  #convos {
    margin-top: 120px;
    margin-right: 40px;
  }
  #convos h1,
  #convos h2 {
    margin-right: 40px;
  }
  #sermons {
    margin-top: 110px;
  }
}
@media screen and (max-width: 735px) {
  #search {
    margin-left: 0px;
  }
}
@media screen and (max-width: 630px) {
  #contacts {
    margin-left: 10px;
  }
  #footerLogo {
    margin-left: 180px;
  }
  #copy {
    margin: auto;
    margin-left: -130px;
  }
}
@media screen and (max-width: 600px) {
  #contacts {
    margin-left: -70px;
  }
  #footerLogo {
    margin-left: 100px;
  }
  #copy {
    position: relative;
    margin: auto;
    margin-left: -180px;
  }
}
